* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    min-height: 100vh;
    background-color: #290661;
    display: flex;
    justify-content: center;
    align-items: center;

}

.calculator {
    background-color:#520dc2;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 250px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    gap: 5px;
}

.screen {
    grid-column: 1 / -1;
    background-color: #290661;
    padding: 0.75rem;
    font-size: 1rem;
    text-align: right;
    border-radius: 0.2rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.btn {
    background-color: #290661;
    color: white;
    border: 0;
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn:hover{
    background-color: #A370FC;
}

#equal {
    grid-column: span 2;
    background-color: #dc3545;
}